<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="">
        {{form.hidden_tag()}}

        {% if form.username.errors %}
            {%for error in form.username.errors%}
            <div style="color: crimson;">{{error}}</div>
            {%endfor %}
        {% endif%}

        {{form.username.label}}:{{form.username(placeholder="Rashay")}}
        <br>
        {{form.Realname.label}}:{{form.Realname()}}
        <br>
        {{form.password.label}}:{{form.password()}}
        <br>
        {{form.submit()}}
    </form>
</body>
</html>